:root {
    --dark-color:#3C5B6F;
    --ligth-color:#F6F5F2;
}

.functions__container {
    text-align: center;
}

.box {
    border-radius: 15px;
    background-color: var(--ligth-color);
    padding: 20px 0;
    margin-bottom: 20px;
}

.angle__box {
    border-bottom: 2px solid red;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    position: relative;
}

.angle__line {
    border-bottom: 2px solid #008DDA;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.angle__descr {
    margin: 0;
    margin-bottom: 15px;
    color: var(--dark-color);
}

.box__title {
    margin: 0;
    margin-bottom: 15px;
    color: var(--dark-color);
}

.boolean {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF5F00;
    margin: 0 auto;
    color: #FFFAE6;
}

.undefined {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #A0DEFF;
    margin: 0 auto;
    color: #FFF9D0;
}

.null {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #006769;
    margin: 0 auto;
    color: #FFF9D0;
}

.number {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFF80;
    margin: 0 auto;
    color: #FF0080;
}

.string {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #002379;
    margin: 0 auto;
    color: #FFF9D0;
}

.country__text {
    margin: 0;
    color: #008DDA;
    font-weight: 600;
}